<div class="container">
    <div class="row">
        <div class="col-md-3 pb-3">
            <div class="text-white">&copy; @DateTime.Now.Year | ML Restaurant</div>
            <address class="small">
                ML Restaurant Private Limited<br />
                Harare, Zimbabwe
            </address>
            <div><img src="~/images/logo-footer.png" style="height:24px" /></div>
        </div>
        <div class="col-md-3 pb-3">
            <h4 class="text-white mb-0">Quick links</h4>
            <div><a asp-area="" class="text-white-50" asp-page="/AboutUs">About us</a></div>
            <div><a asp-area="" class="text-white-50" asp-page="/Privacy">Privacy policy</a></div>
            <div><a asp-area="" class="text-white-50" asp-page="/Terms">Terms and conditions</a></div>
        </div>
        <div class="col-md-3 pb-3">
            <h4 class="text-white mb-0">Get help</h4>
            <div><a asp-area="" class="text-white-50" asp-page="/Support">Order now</a></div>
            <div><a asp-area="" class="text-white-50" asp-page="/KB">Knowledge base</a></div>
            <div><a asp-area="" class="text-white-50" asp-page="/Contact">Contact us</a></div>
        </div>
        <div class="col-md-3 pb-3">
            <h4 class="text-white mb-0">Follow us</h4>
            <div><a href="#" class="text-white-50"><i class="fa-brands fa-facebook"></i> Facebook</a></div>
            <div><a href="#" class="text-white-50"><i class="fa-brands fa-twitter"></i> Twitter</a></div>
            <div><a href="#" class="text-white-50"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></div>
        </div>
    </div>
</div>

