@page
@model DetailsModel

<div class="container ">
    <div class="row mt-2">
        <div class="col-md-6"><h2 class="text-primary">Details.. </h2></div>
        <div class="col-md-6 text-end"><a asp-page="Edit" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Edit..</a></div>
    </div>
    <div class="card col-md-5 box-shadow">
        <div class="card-header bg-secondary"></div>
        <div class="card-body">
            <div>
                <div class="col">
                    <label class="form-label text-secondary">Name</label>
                    <div>@Model.FoodType.Name</div>
                </div>
            </div>
        </div>
    </div>
</div>
    


